<!DOCTYPE html>
<html>
<head>
	<title>E-commerce</title>
	
</head>
<body>
	<form>
		<fieldset>
	<img src="C:\Users\Dell\Downloads\vivo_v9.jpeg"><br>
     <strong><font size="5">Title:</font></strong>vivo v9(Gold,64GB) <br><br>
     <strong><font size="5">Description:</font></strong><table border="1" style="border-collapse: collapse;"><tr>Camera: 13+2 MP Dual rear camera with Ultra HD, Live Mode, AI Bokeh, HDR, Face Beauty, AR Stickers and many more | 16 MP AI Selfie camera with Face Beauty, AI HDR, Bokeh effect, Group selfie, Live photo, AR stickers</tr>
	<tr>Display: 15.51 centimetres (6.3-inch) FHD+ Fullview display 2.0 and 19:9 aspect ratio, 90 percent screen to body ratio
	Memory, Storage & SIM: 6GB RAM | 64GB storage expandable up to 256GB | Dual SIM with dual-standby (4G+4G)
	Operating System and Processor: Qualcomm Snapdragon 660AIE octa-core processor</tr>
	<tr>Battery: 3260 mAH lithium ion battery</tr>
	<tr>Warranty: 1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchase</tr>
	<tr>Included in box: Earphone, MicroUSB to USB Cable, USB power adapter, Protective case
    For any related queries please visit nearest service center or call at customer care no to resolve such product related issues :18001023388</tr><br>
     <strong><font size="5">Price:</font></strong>₹15,000 <br>
     <input type="submit" value="Buy now"> &nbsp&nbsp&nbsp&nbsp<input type="submit" value="Add to Cart">
     </
 </fieldset>
</form>
</body>
</html>